<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1><center>Login</center></h1>
 <p><center>Login info:<br>JohnSmith<br>pass: admin<br></center></p>
 <center>
<form action="/home" method="get">
  Email Login<br>
  <input type="text" name="userlogin" placeholder="Enter email"  required>
  <br>
  Password<br>
  <input type="password" name="psw" placeholder="Enter password"  required>
  <br><br>
  <input type="submit" value = "Login">
</form> 
 </center>

 {{> bootstrap-from-cdn-body }}
</body>
</html>
