<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1><center>Error</center></h1>
 <h6><center>Incorrect password for {{userlogin}}<br>Please try again</center></h6>
 <form action="/" method="get">
  <center>
  <br><br>
  <input type="submit" value = "Try Again">
  </center>
</form> 
{{> bootstrap-from-cdn-body }}
</body>
</html>
